@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    background: url(../donate-background.jpg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    padding: 20px;
    text-align: center;
    background-color: rgba(96, 96, 96,.8);
    font-family:'Roboto', sans-serif;
}

#divForm{
    margin: 20px;
    display: inline-block;
    background-color:rgba(96, 96, 96,.8) ;
    font-family:'Roboto', sans-serif;
    color: white;
    font-weight: bolder;
}

#contain{
    display: inline-block;
    float: right;
    padding-right: 15px;
    margin: 15px;
}


table {
    width: 100%;
    background-color:rgba(96, 96, 96,.8) ;
    font-family:'Roboto', sans-serif;
    color: white;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }

  footer {
    margin-top: auto;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
select{
    width: 100%;
}
  input{
    width: 100%;
  }
  label{
      display: inline-block;
  }
  